#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header {
    display: flex;
    justify-content: center;
    margin: 10%;
    align-items: center;

}

main {
    display: flex;
    justify-content: center;
}